body html {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: lightblue !important;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'Bree Serif', serif;
    text-shadow:2px 2px 4px #000000;
}

.active {
    color: red !important;
}

.nav-link:hover {
    color: red !important;
    text-shadow:2px 2px 4px #000000;
}

/*.backgroundimg {
    background-image: url("../images/keyboard_off.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}

.img-responsive img thumbnail {
    margin: 15px;
    padding: 15px;
}*/

form{
    position: fixed;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
     
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0) !important;
}

.card {
    float: right;
    margin: 50PX;
}

footer {
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-480px; 
    background-color: #66666631;
    width:960px;
    height:70px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .fa-github, .fa-envelope-square, .fa-linkedin {
        text-align: center;
        position: fixed;
        bottom: 10px;
    }
}