
/*==============================Universal CSS====================================*/

body html {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: rgb(35, 35, 35) !important;
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'Bree Serif', serif;
    text-shadow:1px 1px 2px #000000;
}

.active {
    color: rgb(35, 35, 35) !important;
}

.nav-link {
    color: rgb(140, 140, 140) !important;
    font-weight: bold !important;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.nav-link:hover {
    color: rgb(35, 35, 35) !important;
    text-shadow:1px 1px 2px #000000 !important;
}

/*.backgroundimg {
    background-image: url("../images/keyboard_off.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}

.img-responsive img thumbnail {
    margin: 15px;
    padding: 15px;
}*/

/* form{
    position: fixed;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
     
} */

.card {
    float: right;
    margin: 50PX;
}

footer {
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-480px; 
    background-color: #66666631;
    width:960px;
    height:70px;
}

.fa-github, .fa-envelope-square, .fa-linkedin {
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.fa-github:hover {
    color: rgb(80, 126, 141) !important;
    text-shadow:2px 2px 4px #000000 !important;   
}

.fa-envelope-square:hover {
    color: rebeccapurple !important;
    text-shadow:2px 2px 4px #000000 !important;
}

.fa-linkedin:hover {
    color: red !important;
    text-shadow:2px 2px 4px #000000 !important;
}

/*==============================index.html CSS====================================*/
.jumbotron {
    background-color: rgba(255, 255, 255, 0) !important;
}

/*==============================contact.html CSS====================================*/

.contactHeader {
    font-family: 'Fredoka One', cursive;
}

.contactMsg {
    font-size: 20px;
    color: rgb(95, 95, 95);
}

.miniInfo {
    
}

/*==============================portfloio.html CSS==================================*/

/* .d-flex {
    text-shadow:6px 6px 12px #000000 !important;
} */



/*==============================@media query CSS====================================*/

@media only screen and (max-width: 600px) {
    body {
        /* background-color: lightblue; */
    }

    .fa-github, .fa-envelope-square, .fa-linkedin {
        text-align: center;
        position: fixed;
        bottom: 10px;
        font-size: 30px;
    }


}